.title-info{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.infor-box{
    background-color: #fff;
    width: 70%;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.41);
    padding: 15px 15px;
}

@media screen and (min-width: 768px) {
    .infor-box{
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .infor-box{
        width: 50%;
    }
}