.login-box{
    background-color: #fff;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.41);
    padding: 0 30px;
    margin-bottom: 65px;
}

.title-login{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: rgb(22, 22, 22);
    margin: 25px 0px
}

.txt-contra{
    font-size: 12px;
    text-align: center;
    color: #7b7b7b;
}

@media screen and (min-width: 768px) {
    .login-box{
        width: 30%;
    }

    .title-login{
        font-size: 18px
    }
  }
  
  @media screen and (min-width: 1024px) {
    .login-box{
        width: 20%;
        margin-bottom: 60px;
    }

    .title-login{
        font-size: 20px
    }
  }