.form-box{
    background-color: #fff;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.41);
    padding: 0 30px;
    margin-bottom: 65px;
    margin-top: 45px;
}

.title-form{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: rgb(22, 22, 22);
    margin: 25px 0px;
    font-size: 18px;
}

.subtitle-form{
    font-size: 16px;
    font-weight: 500;
    background-color: #7b7b7b;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
}

.personalImg-form{
    width: 150px;
    height: 200px;
    border: 3px solid #000;
    padding: 20px 20px;
    background-color: #ffffff;
}

.signatureImg-form{
    width: 200px;
    border: 3px solid #000;
    padding: 20px 20px;
    background-color: #ffffff;
}

.center-grid{
    text-align: center;
}

.form-errors{
    color: #c6383b;
    text-align: center;
    font-size: 13px;
}

@media screen and (min-width: 768px) {
    .form-box{
        width: 70%;
    }

    .title-form{
        font-size: 20px
    }

    .subtitle-form{
        font-size: 18px;

    }
  }
  
  @media screen and (min-width: 1024px) {
    .form-box{
        width: 50%;
        margin-bottom: 60px;
    }

    .title-form{
        font-size: 24px
    }

    .subtitle-form{
        font-size: 20px;

    }
  }